
.idea/vcs.xml
.idea/workspace.xml
menu493/menu/__pycache__/tests.cpython-36.pyc
menu493/menu/__pycache__/urls.cpython-36.pyc
menu493/menu/__pycache__/views.cpython-36.pyc
menu493/menu493/__pycache__/settings.cpython-36.pyc
menu493/menu493/__pycache__/wsgi.cpython-36.pyc
